<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Projet R&D - home </title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <!-- https://www.w3schools.com/w3css/ -->
</head>
<body class="w3-container">
    <a class="w3-margin-top w3-block w3-jumbo w3-btn w3-padding-xxlarge" href="./mobile">mobile</a>
    <a class="w3-margin-top w3-block w3-jumbo w3-btn w3-padding-xxlarge" href="./scene">scene</a>
</body>
</html>