extends layout

block content
  h1= title
  p Welcome to #{title}
  .startst
      .row
        .col-md-6.portfolio-item
          a(href='#')
            img.img-responsive(src='/images/portable.jpg', alt='')
          h3
            a(href='./mobile') Mobile
          p Smartphone comme manette.
        .col-md-6.portfolio-item
          a(href='#')
            img.img-responsive(src='images/scene.jpg', alt='')
          h3
            a(href='./scene') Sc&egrave;ne
          p R&eacute;sultat de l&apos;int&eacute;raction avec la manette.
