html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/bootstrap.min.css")  
    link(rel="stylesheet" href="/stylesheets/bootstrap.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")  

  body
    div(data-alerts='alerts', data-titles='{"warning": "<em>Warning!</em>", "error": "<em>Error!</em>"}', data-ids='myid', data-fade='3000')
    script(src='/javascripts/modules/socket.io.min.js')
    script(src='/javascripts/scripts/mobile.js')
    script(src='/javascripts/scripts/alert.js')
    script.
      var hub = io.connect(window.location.origin);
      hub.emit("solution", {
      number : 3
      });