extends layout
block content
  .startst
      .row.espace-image
        a(href='./mobile_sol1')
          img.img-responsive.button-img(src='/images/solution1.png', alt='')
      .row.espace-image
        a(href='./mobile_sol2')
          img.img-responsive.button-img(src='/images/solution2.png', alt='')
      .row.espace-image
        a(href='./mobile_sol3')
          img.img-responsive.button-img(src='/images/solution3.png', alt='')
