<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Projet R&D - mobile </title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- https://www.w3schools.com/w3css/ -->
</head>
<body>
    <script src="/javascripts/modules/socket.io.min.js"></script>
    <script src="/javascripts/scripts/mobile.js">    </script>
</body>
</html>