extends layout
block content
  div(data-alerts='alerts', data-titles='{"warning": "<em>Warning!</em>", "error": "<em>Error!</em>"}', data-ids='myid', data-fade='3000')
  script(src='/javascripts/modules/socket.io.min.js')
  script(src='/javascripts/scripts/mobile.js')
  script(src='/javascripts/scripts/alert.js')
  script.
    var hub = io.connect(window.location.origin);
    hub.emit("solution", {
    number : 3
    });