extends layout
block content
 .container-fluid
      .row
        .col-lg-6.scene-screen
            div(data-alerts='alerts', data-titles='{"warning": "<em>Warning!</em>", "error": "<em>Error!</em>"}', data-ids='myid', data-fade='3000')
            #container
        .col-lg-2
            #graph
                canvas(style='',id='graphCanvas', width='300', height='200')
        .col-lg-4.block-panel
                .panel.panel-default
                    .panel-heading
                        h3.panel-title  Menu
                    if true
                        .panel-body
                            .checkbox
                                label
                                    input(type='checkbox' checked="checked" id="kalman")
                                    |  Kalman
                    else
                        .panel-body 
                            .checkbox
                                label
                                    input(type='checkbox' checked="checked" id="notchFilter")
                                    | Coupe Bande
                    hr
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-info.active
                            input#fixe(type='radio', name='options', autocomplete='off', checked='')
                            |  Caméra Fixe
                        label.btn.btn-info
                            input#mobile(type='radio', name='options', autocomplete='off')
                            |  Caméra Mobile
                        label.btn.btn-info
                            input#semi-mobile(type='radio', name='options', autocomplete='off')
                            |  Caméra Semi-Mobile
                    hr
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-default.active
                            input#cone(type='radio', name='options', autocomplete='off', checked='')
                            |  Cone
                        label.btn.btn-default
                            input#earth(type='radio', name='options', autocomplete='off')
                            |  Terre
        script(src='/javascripts/modules/socket.io.min.js')
        script(src='/javascripts/modules/three.min.js')
        script(src='/javascripts/modules/stats.min.js')
        script(src='/javascripts/modules/smoothie.js')
        script(src='/javascripts/scripts/kalman.js')
        script(src='/javascripts/scripts/hub_scene.js')
        script(src='/javascripts/scripts/data_scene.js')
        script(src='/javascripts/scripts/scene.js')
        script(src='/javascripts/scripts/alert.js')