extends layout
block content
 .container-fluid
      .row
        .col-lg-8.scene-screen
            div(data-alerts='alerts', data-titles='{"warning": "<em>Warning!</em>", "error": "<em>Error!</em>"}', data-ids='myid', data-fade='3000')
            #container
                #graph
                    canvas(style='',id='graphCanvas', width='300', height='200')
            script(src='/javascripts/modules/socket.io.min.js')
            script(src='/javascripts/modules/three.min.js')
            script(src='/javascripts/modules/stats.min.js')
            script(src='/javascripts/modules/smoothie.js')
            script(src='/javascripts/scripts/kalman.js')
            script(src='/javascripts/scripts/hub_scene.js')
            script(src='/javascripts/scripts/data_scene.js')
            script(src='/javascripts/scripts/scene.js')
            script(src='/javascripts/scripts/alert.js')
        .col-lg-4
            h3.title-panel Menu
            .panel.panel-primary
                .panel-heading
                    h3.panel-title  Filtre
                .panel-body 
                    .checkbox
                        label
                            input(type='checkbox')
                            |  Kalman
                .panel-body 
                    .checkbox
                        label
                            input(type='checkbox')
                            | Coupe Bande
            .panel.panel-default
                .panel-heading
                    h3.panel-title  Suivis Caméra
                .panel-body  Caméra 1
                .panel-body  Caméra 2
                .panel-body  Caméra 3 
            .panel.panel-default
                .panel-heading
                    h3.panel-title Scène
                .panel-body Cone
                .panel-body Terre
                .panel-body ?
