extends layout
block content
    #container
      #graph
        canvas(style='',id='graphCanvas', width='300', height='200')
    script(src='/javascripts/modules/socket.io.min.js')
    script(src='/javascripts/modules/three.min.js')
    script(src='/javascripts/modules/smoothie.js')
    script(src='/javascripts/scripts/scene.js')