<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%">
<head>
    <meta charset="utf-8" />
    <title> Projet R&D - scene </title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- https://www.w3schools.com/w3css/ -->
</head>
<body class="w3-display-container" style="height:100%">
    <div class="w3-display-middle" id="container"></div>
    <script src="/javascripts/modules/socket.io.min.js"></script>
    <script src="/javascripts/modules/three.min.js"></script>
    <script src="/javascripts/scripts/scene.js">    </script>
</body>
</html>