body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}


#graph {
    width: 300px;
    height: 200px;

    position: absolute;


    opacity: 0.5;
}

#graph:hover {
    opacity: 1.0;
}

#containere {
    width: 800px;
    height: 600px;

    position: relative;
}

.row.espace-image{
    margin-top: 50px;
}

img.img-responsive.button-img{
    display:block;
    margin:auto;
    border-color:grey;
    border-width:2px; 
    border-style:outset;
}

.details-logo{
    max-width:200px;
}

.navbar
{
    background-color:white;
    border: none;
}

footer p 
{
    text-align: center;
}

nav
{
    max-height: 100px;
}

.contenu
{
    margin-top:100px;
}

.title-panel
{
    text-align: center;
}

.content
{
    margin-top: 30%;
}

.startst
{
    margin-top: 70px;
}

.title-panel
{
    margin-top: 50px;
}

.checkbox
{
    margin: 0px;
}

.scene-screen
{
    margin-top : 60px;
}